#jplayer

#jplayer_container
  #now_playing
    .band
    .album
    .title

  #controls
    %input{:type => 'button', :class => 'control_play', :value => 'Play'}
    %input{:type => 'button', :class => 'control_pause', :value => 'Pause'}
