/*
 *= require_self
 *= require_tree .
*/

$blueprint_grid_columns: 8;
$blueprint_grid_width: 40px;

@import 'compass';
@import '_blueprint';

body {
  @include container;
  background: #777;
  font-family: "Inconsolata", "Courier New", sans-serif;
}

ul {
  li {
    list-style: none;
  }
}

#header {
  @include column(8);
}

#wrapper {
  @include column(8);
}

#footer {
  @include column(8);
}